</div class="container-sm">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{title}} by {{user.name}}</h5>
            <p class="card-text">{{body}}</p>
            <p class="card-text"><small class="text-body-secondary">{{time_created}}</small></p>
        </div>
    </div>
    <div>
        <h3>Comments</h3>
        <div class="new-comment-div">
            
            {{#if req.session.logged_in}}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="comment-body-label">Comment</span>
                    <input type="text" class="form-control" id="comment-body" name="comment-body"/>
                </div>
                <button class="new-comment-button btn btn-primary" data-id="{{id}}"type="submit">Create</button>

            {{else}}
            <fieldset disabled>
                <div class="input-group mb-3 disabled">
                    <span class="input-group-text disabled" id="comment-body-label">Comment</span>
                    <input type="text" class="form-control disabled" id="disabled-input" name="comment-body" placeholder="Please sign in to add comments"/>
                </div>
            </fieldset>
            {{/if}}
        
        </div>
        {{#each comments as |comment|}}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{comment.body}}</p>
                <p class="card-text"><small class="text-body-secondary"> </small></p>
                <p class="card-text">{{comment.user.name}}<small class="text-body-secondary"> at {{comment.time_created}}</small></p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/post.js"></script>
{{!-- <script src="./js/post.js"></script> --}}